/* _variables-dark - Value */
$border-color-dark: $gray-700;

$primary-text-emphasis-dark: $orange-300;
$primary-bg-subtle-dark: $orange-900;
$primary-border-subtle-dark: $orange-800;
$secondary-text-emphasis-dark: $gray-700;
$secondary-bg-subtle-dark: $gray-100;
$secondary-border-subtle-dark: $gray-200;
$success-text-emphasis-dark: $green-300;
$success-bg-subtle-dark: $green-900;
$success-border-subtle-dark: $green-800;
$info-text-emphasis-dark: $cyan-300;
$info-bg-subtle-dark: $cyan-900;
$info-border-subtle-dark: $cyan-800;
$warning-text-emphasis-dark: $yellow-300;
$warning-bg-subtle-dark: $yellow-900;
$warning-border-subtle-dark: $yellow-800;
$danger-text-emphasis-dark: $red-300;
$danger-bg-subtle-dark: $red-900;
$danger-border-subtle-dark: $red-800;
$light-text-emphasis-dark: $gray-100;
$light-bg-subtle-dark: $gray-800;
$light-border-subtle-dark: $gray-700;
$dark-text-emphasis-dark: $gray-300;
$dark-bg-subtle-dark: $gray-900;
$dark-border-subtle-dark: $gray-800;
$body-color-dark: $gray-300;
$body-bg-dark: $gray-900;
$body-secondary-color-dark: $gray-200;
$body-secondary-bg-dark: $gray-800;
$body-tertiary-color-dark: $gray-900;
$body-tertiary-bg-dark: $gray-100;
$link-color-dark: $orange-300;
$link-hover-color-dark: $orange-100;